services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:latest
    container_name: sqlserver_aula03
    restart: always
    ports:
      - "1433:1433" 
    environment:
      SA_PASSWORD: "Coti@2025" 
      ACCEPT_EULA: "Y" 
      MSSQL_PID: "Developer" 
    volumes:
      - sqlserver_data:/var/opt/mssql 

volumes:
  sqlserver_data:
    driver: local